#content-container {
    height: 100%;
    background-color: var(--canvas-color);
  }
  
  #controls-wrapper {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0;
    max-width: 1200px;
    margin: auto;
  }
  
  #canvas {
      height: 100%;
  }