#content-container {
  height: 100%;
  background-color: var(--canvas-color);
}

#controls-wrapper-outer {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#controls-wrapper-inner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#canvas {
    height: 100%;
}