#controls {
    /* width: 100%; */
    /* position: absolute; */
    padding-left: 10px;
    padding-right: 10px;
}

#loop-button {
    margin-bottom: 45px;
    background-color: var(--control-background-color);
    color: var(--text-light);
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    border-radius: 3px;

    /* Prevent the text from being selected */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loop-button.looping {
    background-color: var(--control-foreground-color);
    color: var(--text-dark);
}

#speed-mode-buttons {
    margin-bottom: 14px;
}

#speed-slider-wrapper {
    margin-bottom: 12px;
}

#position-slider-wrapper {
    margin-bottom: 60px;
}